<li data-id={{id}}>
  <p>{{contactName}}</p>
  <dt>Phone Number:</dt>
  <dd>{{phoneNumber}}</dd>
  <dt>Email:</dt>
  <dd>{{contactEmail}}</dd>
  <a href='#' class='edit-contact'><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a>
  <a href='#' class='delete-contact'><i class="fa fa-trash" aria-hidden="true"></i> Delete</a>
</li>
